*{
    margin: 0;
    padding: 0;
}
  body{
    
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      
    }  
    
   
    
    .header{
        background-color: whitesmoke;
        padding: 10px;
    }
    ul,li{
        
        display: inline;
       
    }
    ul{
    
     margin-left: 60%;
     
    }
    .sear ul li{
        margin-left: 5px;
    }
    .sear ul li a{
        color: black;
        font-weight: 300;
    }

.searc ul{
margin-left: 5%;
}
.searc ul li{
    
    margin-left: 20px;
}
.searc ul li a{
    color: black;
    font-weight: 500;
    text-decoration: none;

}
.logo{
    display: inline-block;
    width: 350px;
    height: 45px;
   
}
.searc h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    display: inline;
    padding: 20px;
    position: absolute;
    top: 0;
    font-family: "Lobster", sans-serif;
    font-style: normal;
}
.searc h1 span{
    color: rgb(190, 4, 144);
}
.searc input{
    width: 250px;
    height: 30px;
    border-radius: 30px;
    margin-left: 20px;
    background-color: oldlace;
}
.hert{
   display: inline-block;
   width: 50px;
   height: 50px;
   position: absolute;
   margin:25px 0px 0px 30px ;
   
}
   

.hert img{
    width: 30px;
    height: 30px;
}  
.check{
display: inline-block;
width: 50px;
height: 50px;
position: absolute;
margin: 25px 0px 0px 86px;
}   
.check img{
    width: 30px;
    height: 30px;
}
