*{
    margin: 0;
    padding: 0;
}
  body{
    
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      
    }  
    
    
    .header{
        background-color: white;
        padding: 10px;
        border-top: rgb(211, 209, 209) 2px solid;
        border-bottom: rgb(211, 209, 209) 2px solid;
        position: sticky;
        top: 0;
    
    }
    ul,li{
        
        display: inline;
       
    }
    ul{
    
     margin-left: 60%;
     
    }
    .sear ul li{
        margin-left: 5px;
    }
    .sear ul li a{
        color: black;
        font-weight: 300;
    }

.searc ul{
margin-left: 5%;
}
.searc ul li{
    
    margin-left: 20px;
}
.searc ul li a{
    color: black;
    font-weight: 500;
    text-decoration: none;

}
.logo{
    display: inline-block;
    width: 350px;
    height: 45px;
   
}
.searc h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    display: inline;
    padding: 20px;
    position: absolute;
    top: 0;
    font-family: "Lobster", sans-serif;
    font-style: normal;
}
.searc h1 span{
    color: rgb(190, 4, 144);
}
.searc input{
    width: 250px;
    height: 30px;
    border-radius: 30px;
    margin-left: 20px;
    background-color: oldlace;
}

   
.hert{
   display: inline-block;
   width: 50px;
   height: 50px;
   position: absolute;
   margin:25px 0px 0px 30px ;
   
}
   

.hert img{
    width: 30px;
    height: 30px;
}  
.check{
display: inline-block;
width: 50px;
height: 50px;
position: absolute;
margin: 25px 0px 0px 86px;
}   
.check img{
    width: 30px;
    height: 30px;
}
.sec1{
    background-color: #c07e7e77;
    padding: 30px;
    padding-bottom: 60px;
}
.imgi{
    
    padding: 30px;
    height: 300px;
    display: inline-block;
    margin-left: 40px;
   
}
.imgi img{
    width: 100%;
    float: left;
}
.imgi img:hover{
    width: 102%;
    scale: 1;
    transition: 1s;
    
}
.des{
    width: 450px;
    display: inline-block;
    
    padding: 20px;
    margin-left: 160px;
}
.des span,h1,p{
    text-align: center;
}
.des span{
    color: rgb(214, 124, 50);
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 25px;
    margin-left: 150px;
    
}
.des h1{
    color: rgb(128, 40, 123);
    font-size: 30px;
    margin: 20px 0px 10px;

}
.des p{
    color: black;
    font-size: 18px;
    font-weight: 350;
    
}
.des button{
   
   margin: 20px 0px 0px 180px;
   border-radius: 5px 5px;
   font-size: 13px;
   padding: 10px;
   border-style: none;
   background-color: rgb(85, 172, 199);
}

.des button:hover{
    border: rgb(15, 7, 7) 2px solid ;
    background-color: aqua;
    transition: 0.3s;
    cursor: pointer;
}
.sec2{
    background-image: url(./hello.avif);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}